<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href='./home'>
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chats" >
      <ion-icon name="chatbubbles-outline"></ion-icon>
      <ion-label>Conversaciones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="./profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
