<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="text-center">
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div class="container">
    <div class="row ">
      <ion-searchbar placeholder="destino..." class="col-md-6"></ion-searchbar>
      <ion-item class="col-md-6">
        <ion-icon name="calendar"></ion-icon>
        <ion-datetime displayFormat="MM/DD/YYYY" min="1994-03-14" max="2012-12-09" value="2002-09-23T15:03:46.789"></ion-datetime>
      </ion-item> 
       </div>
    <div class="text-center row">
      <div class="col-md-6 "*ngFor="let viaje of travels" >
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              {{viaje.tittle}}
            </ion-card-title>
            <ion-card-subtitle class="text-center">
              <ion-text>
                <ion-icon name="calendar-outline">
                </ion-icon>
                {{viaje.date}}
              </ion-text>
              <br />
              <ion-text>
                <ion-icon name="map-outline">
                </ion-icon>
                {{viaje.destination}}
              </ion-text>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-icon name={{viaje.icon}} class="ion-3x"></ion-icon>
            <ion-textarea>
              {{viaje.description}}
            </ion-textarea>
          </ion-card-content>
        </ion-card>
      </div>
      </div>
  </div>
</ion-content>