<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="text-center">
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<div class="container col-md-12 text-center">

    <img id="my-avatar" class="rounded-circle col-lg-2"src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png">
  
  <br>

    <ion-list class="text-center">
      <ion-item>
        <ion-label stacked>Username: </ion-label>
        <ion-input type="text" [(ngModel)]="profile.username" name="username"></ion-input>
      </ion-item>
      
      <ion-item>
      <ion-label stacked>Full-Name: </ion-label>
      <ion-input type="text" [(ngModel)]="profile.fullname" name="fullname"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label stacked>E-mail: </ion-label>
      <ion-input type="email" [(ngModel)]="profile.email" name="email"></ion-input>
    </ion-item>
    
  </ion-list>
</div>